/*
 * ContinuousBiosensing project — custom device tree additions
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	zephyr,user {
		//power-on-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		//io-channels = <&adc 2>, <&adc 7>;
	};
};
